
     <div class='container-fluid'>
    <div class="row">
<div class="col-md-3 col-lg-3 col-sm-1 ">
  </div>
  <div class="col-md-6 col-lg-6 col-sm-10">
          <form #addfrm="ngForm"  novalidate>
            <div class="row">
                <div class="form-group col-md-12 col-lg-12 col-sm-10">
              <label for="Product">Product Name</label>
              <span class="text-warning">*</span>
              <input  name="productname" class="form-control"  minlength="2" id="productname"
                #productname="ngModel" [(ngModel)]='products.productname' type="text" required>
              <span *ngIf="productname.invalid && (productname.touched || productname.dirty)"> </span>
              <span class="text-warning" [hidden]="!productname.errors.required" *ngIf="productname.errors && (productname.touched || productname.dirty)">
                productname Required</span>
              <span class="text-warning" [hidden]="!productname.errors.pattern" *ngIf="productname.errors && (productname.touched || productname.dirty)">
                productname Should be only in alphabets</span>
              <span class="text-warning" [hidden]="!productname.errors.minlength || productname.errors.pattern" *ngIf="productname.errors && (productname.touched || productname.dirty)">
                productname Should Be Minimum 3 Chars </span>
              </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12 col-lg-12 col-sm-10">
              <label >Price</label>
              <span class="text-warning">*</span>
              <input  name="productprice" class="form-control"  minlength="2" id="productprice"
                #productprice="ngModel" [(ngModel)]='products.productprice' type="number" required>
              <span *ngIf="productprice.invalid && (productprice.touched || productprice.dirty)"> </span>
              <span class="text-warning" [hidden]="!productprice.errors.required" *ngIf="productprice.errors && (productprice.touched || productprice.dirty)">
                productprice Required</span>
              <span class="text-warning" [hidden]="!productprice.errors.minlength || productprice.errors.pattern" *ngIf="productprice.errors && (productprice.touched || productprice.dirty)">
                productprice Should Be Minimum 3 Chars </span>
            </div>
          </div>
          <div class="col form-group text-center">

              <button type="submit" *ngIf='show' (click)="addProduct()"  class="btn btn-success col-md-12 col-lg-12 col-sm-10">Add</button>
              <button type="submit"  *ngIf='!show' (click)="updateProduct(products.id)" class="btn btn-primary col-md-12 col-lg-12 col-sm-10">Update</button>
            </div>
          </form>
        </div>      
<div class="col-md-3 col-lg-3 col-sm-1 ">
  </div>
        </div>
        <div>
        
        </div>
      
      
      
      
      
      
      </div>
   










<div class='container-fluid'>
<div class="row">
   
<div class="col-md-3 col-lg-3 col-sm-1 ">
</div>
<div class="col-md-6 col-lg-6 col-sm-10">
  
    <div cdkDropList class="product-list " (cdkDropListDropped)="drop($event)">
        <div class="product-box" *ngFor="let em of productsList" cdkDrag>
            <div class="container">
          <tr >
          <td class="col-md-6 col-lg-6 col-sm-6" >{{em.productname | titlecase}} </td> 
          <td class="col-md-6 col-lg-6 col-sm-6"> &nbsp; {{em.productprice| currency:"₹"}}</td>
           <button id='edit' type="submit" (click)="getbyId(em.id)" class="btn btn-primary" >edit</button></tr></div>
          </div>
        </div>
    </div>
<div class="col-md-3 col-lg-3 col-sm-1 ">
  </div>
</div>
</div>
