<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
   {{ title }}!
  </h1>
</div>

<ul>
  
  <li>
    <a class="dropdown-item" routerLink="/products/productsList">
      <i class="fa fa-trophy" aria-hidden="true"></i>
      ProductsList</a>
  </li>
</ul>

<router-outlet></router-outlet>
